<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    <div>
        {{startDate}}
    </div>
</div>

<div class="courses" *ngIf="courses[0] as course" >

    <course-card 
        (courseSelected)= "onCourseSelected($event)" 
        [course]="course"
        [cardIndex]="i + 1">

        <img  width="300" alt="Angular Logo"
        [src]="course.iconUrl">

    </course-card>


</div>


